@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #f1f1f1;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

.main-container {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.title-container { 
    padding: 4%;
}

.main-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.3vw;
}

.left-sub-container {
    width: 47%;
    display: inline-block;
    height: 100%;
}

.right-sub-container {
    display: inline-block;
    height: 100%;
}

.perfil-img {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 4%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.perfil-img-inside {
    height: 100%;
    width: 100%;
}

.activities-list {
    text-align: left;
    list-style: none;
}

.activities-list li a {
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}

.activities-list li{
    padding-top: 2%;
}

.main-student-data-container {
    text-align: left;
}

.student-data-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.student-data-container p:first-child{
    font-weight: 700;
}

.right-sub-conatainer-title {
    margin-bottom: 10%;
}